* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,body{
  background-color: black;
}
::selection {
  background: #ce4085;
  color: black; 
  
}

input {
  border: 0;
  outline: none; /* Removes default focus outline */
}

input:active,
input:focus {
  border: 0;
  outline: none;
}

input[type="text"], textarea {
border: 0;
}

/*
 font-family: "Poppins", serif;
font-family: "Montserrat", serif;
font-family: "Nunito", serif;
font-family: "Inter", serif;
 */

.main-container-d{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.mainx-swdeer{
  width: 90%;
}


@media screen and (max-width: 868px){
  .mainx-swdeer{
    width: 100%;
  }
  

}
/* Works for WebKit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar */
}

::-webkit-scrollbar-track {
  background: #222; /* Darker track */
}

::-webkit-scrollbar-thumb {
  background: #444; /* Scrollbar thumb */
  border-radius: 10px; /* Rounded edges */
}

::-webkit-scrollbar-thumb:hover {
  background: #666; /* Slightly lighter on hover */
}

.admin-app-container{
  width: 100vw;
  height: 100vh;
  background-color: #ce4085;
}
