.chat-box-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: black;
  color: white;
  overflow: hidden;
}

@media (min-width: 512px) {
  .chat-box-container{
    border: 1px solid #2c2c2c;

  }
}

@media (max-width: 512px) {
  .chat-box-container {
   height: 92vh;
  }
}
.chat-header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background: black;
  font-family: "Montserrat", serif;
  border-bottom: 1px solid #2c2c2c;
}

.back-btn-chat33 {
  background: none;
  border: none;
  color: #d84303;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 1rem;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 20%;
  object-fit: cover;
  object-position: top;
}

.chat-header-details {
  margin-left: 0.8rem;
}

.chat-header-details h4 {
  margin: 0;
  font-size: 1.1rem;
}

.chat-header-details p {
  margin: 0;
  font-size: 0.8rem;
  color: #b0b0b0;
}

.chat-messages {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  font-family: "Inter", serif;
  
}


.message {
  max-width: 70%;
  padding: 0.7rem;
  margin: 0.5rem 0;
  border-radius: 10px;
  word-wrap: break-word;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sent {
  display: flex;
  align-items: end;
  align-self: flex-end;
  background-color: #1f1f1f;
  color: white;
}

.received {
  align-self: flex-start;
  background-color: #1f1f1f;
  color: white;
}

.message-time {
  font-size: 0.8rem;
  color: #b0b0b0;
  padding-right: 4px;
}


.chat-input {
  display: flex;
  padding: 1rem;
  background: black;
  border-top: 1px solid #2c2c2c;
}

.chat-input input {
  flex-grow: 1;
  padding: 0.7rem;
  border: none;
  border-radius: 5px;
  background: #2c2c2c;
  color: white;
  outline: none;
  font-size: 1rem;
}

.chat-input button {
  margin-left: 0.5rem;
  padding: 0.7rem 1rem;
  border: none;
  background: #c23a7d;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.chat-input button:hover {
  background: #911b56;
}

