@import url('https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@300;400;500;600;700&display=swap');

.profile-dashboard{
  width: 100%;
  height: 86vh;
  display: flex;
  align-items: center;
  flex-direction: column;
color: white;
}

.profile-dashboard header{
  width: 100%;
  height: 3rem;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-page-full-conatiner{
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.profile-page-left-section{
  width: 70%;
  height: 100%;
}
.profile-page-right-section{
  margin-top: 3rem;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  overflow-y: scroll;
  align-items: center;
  color: white;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}
.profile-page-right-section::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}


@media (max-width: 612px) {
  .profile-page-right-section{
    width: 100%;
    height: 100%;
  }
  .profile-page-left-section{
    display: none;
  }
}
.big-page-left-sectione{
  display: block;
  width: 100%;
  display: flex;
}
.big-profile-page-right{
  display: none;
}
@media (min-width: 812px) {
.profile-setting-header3 button{
  display: none;
}

}










